
/*-------------Start of Body elements---------------------*/
* {
    box-sizing: border-box;
}

body {
	background: linear-gradient(rgba(0,0,0,0.2),#AFEEEE 87%), url(../images/background-image.jpeg);
	background-size: cover;
	background-repeat: no-repeat;
	background-attachment: fixed;
	height: 100%;
	width: 100%;
	margin: 0px;
}

/*-------------End of Body elements---------------------*/


/*--------------- Start of Header elements -------------------- */

#main-header {
	height: 50px;
	margin-bottom: 10px;
}
.social-icon {
	width: auto;
	height: 100%;
	margin: 10px 0 0 10px;
}
#social-icon-box {

    height: 40px;
}

/* small logo on top right */
#logo {
	width: auto;
	height: 100%
	/*padding-left: 25px;*/

}

/* -------------------End of Header elements ------------------- */



/* --------------------Start of Search bar area elements ---------------------*/

/* large logo in the middle */
#logo-main {
	position: relative;
	width: 25%;
	display: block;
  	margin: 0 auto;
}

#logo-row p {
	font-size: 18px;
	text-align: center;
	color: white;
	font-style: bold;
}

#search-bar-row {
	margin: 10px 0px 0px 0px;
}

/*.search-bar-text {
	padding-top: 10px;

}
*/
/*.search-area {
	padding-bottom: 10px;
}*/
div.search-bars {
	background-color: black;
	opacity: .8;
	height: 140px;
	width: 100%;
	padding: 20px;
	border-radius: 3px;
	margin-bottom: 20px;
}

#nc-submit-city{
	opacity: 1;
	margin-top: 36px;
	text-align: center;
	color: 000000;
	border: 0px #DCDCDC solid;
	color: white;
	background-color: #236B8E;
}

#nc-submit-city:hover {
    background-color: #343a40;
    color: white;
    text-decoration: none;
}

#nc-submit-city:visited, #nc-submit-city:link {
	color: black;
	text-decoration: none;
}
/* ---------------------End of Search bar area elements -----------------------*/



/*-----------------Start of  styling for the elements inside the Card Div that is created in JS --------------------*/

.city {
	margin-top: 4px;
	font-size: 18px;
	text-align: left;
	border-left: 1px solid #333333;
	/*border-bottom: 1px solid #333333;*/
	margin-left: 15px;
/*	background-color: #1a1a1a;*/
	/*margin-right: 20px;
	vertical-align: bottom;*/
}

.month {
	margin-top: 4px;
	font-size: 18px;
	text-align: left;
	/*margin-right: 25px;*/
	border-left: 1px solid #333333;
	/*border-bottom: 1px solid #333333;*/
	/*background-color: #1a1a1a;*/
}

.temperature, .big-mac-price, 
.big-mac-index, .rainfall{
	font-size: 17px;
}

 .exchange-rate {
	font-size: 14px;
}

#icon0, #icon1, #icon2, #icon3 {
	width: 70%;
	height: auto;
	margin: 10px 5px;
}

#exchange-rate-box {
	margin-left: 15px;
}


.icon-box {
	background-color: #778899;
	position: relative;
	height: auto;
	text-align: center;
	margin: 6px;
	border-radius: 3px;
}

.icon-box:first-child {
	margin-left: 15px;
}

/*travel info button*/
.travel-button {
    background-color: #236B8E;
    border-radius: 3px;
	height: auto;
	font-family: 'Ubuntu', sans-serif;
	text-align: center;	
	color: 000000;
	border: 0px #DCDCDC solid;
	color: white;
	margin: 6px;
	line-height: 20px;
	text-align: 
}

.button-text {
	margin-top: 15px;
}

.travel-button:hover {
    background-color: #343a40;
    color: white;
    text-decoration: none;
}

.travelbutton:visited, .travelbutton:link {
	color: black;
	text-decoration: none;
}


/*---------------Remove Button styling -----------------*/
label {
	font-family: 'Ubuntu', sans-serif;
	font-style: bold;
	font-size: 20px;
	color: white;
	text-align: center;
}

.remove-button {
	width: 25px;
	height: 25px;
	color: #777;
	font: 14px/100% arial, sans-serif;
	position: absolute;
	right: 1px;
	text-decoration: none;
	text-shadow: 0 1px 0 #fff;
	top: 1px;
	content: 'X';
}
/*---------------Remove Button styling -----------------*/


/* --------------End of elements inside the Card Div ---------------------------*/



/*---------------Start of styling for the Card Div itself, as well as to make the card grabbable -------------*/

#card-row {
	    display: -webkit-flex; /* Safari */
    -webkit-justify-content: space-around; /* Safari 6.1+ */
    display: flex;
    justify-content: space-around;
}

.card-div{
	position: relative;
	opacity: .8;
	color: white;
	font-family: 'Ubuntu', sans-serif;
/*	font-size: 30px;*/
	width: 100%;

	height: 100%;
	border: 3px solid black;
	border-radius: 3px;
	background-color: black;
	margin-bottom: 10px;

}
.card-div.over {
	border: 4px dashed #000;
}
.grabbable{
	cursor: move;
	cursor: grab;
    cursor: -moz-grab;
    cursor: -webkit-grab;
}
.grabbable:active{
	cursor: grabbing;
    cursor: -moz-grabbing;
    cursor: -webkit-grabbing;
}
/*---------------------end of styling for Card Div itself -------------------------------*/


/*---------------Bottom Icons Cards ---------------------*/


.directory-icon-container {
  display:flex;
  align-items: center;
  height: 100%;
  margin-top: 50px;
  background-color: black;
  height: 100%;
  border-radius: 3px;
  position: relative;
  padding: 10px;
  opacity: .8;
}

.directory-icon {
	margin-top: 10px;
  	width: 40%;
  	display: block;
  	margin: 0 auto;
}

 .icon-card {
 	margin-top: 10px;
 	background-color: #778899;
/* 	border-radius: 15px;*/
 	border: 3px solid black;
 	height: 300px;
	position: absolute;
	bottom: 0;
}

.directory-icon-container h3 {
	margin-top: 8px;
	font-size: 22px;
	text-align: center;
	position: relative;
	color: white;
}

.directory-icon-container p {
	margin: 10px 5px 5px 5px;
	font-size: 14px;
	text-align: center;
	position: relative;
	color: white;
}

/*------------Media Queries-------------*/

/*@media screen and (max-width: 980px) {

div.search-bars {
	height: 100%;
}*/



@media screen and (max-width: 768px) {

div.search-bars {
	height: 100%;
	width: 100%;
}

}


@media screen and (max-width: 640px) {

div.search-bars {
	height: 100%;
	width: 110%;
	margin-left:; 10px;
}

}