
/*-------------Start of Body elements---------------------*/
* {
    box-sizing: border-box;
}
body {
	background: url('../images/background-image.jpeg') no-repeat center center fixed; 
	-webkit-background-size: cover;
	-moz-background-size: cover;
	-o-background-size: cover;
	background-size: cover;
}
/*-------------End of Body elements---------------------*/


/*--------------- Start of Header elements -------------------- */
.social-icon {
	width: 40px;
	height: auto;
	margin: 10px 0 0 10px;
}

/* small logo on top right */
#logo {
	width: 120px;
	height: auto;
}
/* -------------------End of Header elements ------------------- */



/* --------------------Start of Search bar area elements ---------------------*/

/* large logo in the middle */
#logo-main {
	position: relative;
	width: 300px;
	left: 40%;
}

#search-bar-row {
	margin: 20px 0;
}

#nc-submit-city{
	margin-top: 34px;
	background-color: #1E90FF;
	color: black;
	border-radius: 3px;
	height: 38px;
}
/* ---------------------End of Search bar area elements -----------------------*/



/*-----------------Start of  styling for the elements inside the Card Div that is created in JS --------------------*/
.location {
	position: relative;
	font-size: 24px;
	width: 400px;
	height: 100px;
}

.temperature, .big-mac-price, 
.big-mac-index, .rainfall{
/*	border: 2px solid black;
	height: 40px;
	width: 100px;*/
	font-size: 25px;
	display: inline-block;
	position: absolute;
	bottom: 2%;
	text-align: center;
}

.city, .country {
/*	border: 2px solid black;
	margin: 10px;
	height: 40px;
	width: 200px;*/
	font-size: 28px;
	display: inline-block;
	
	position: absolute;
	text-align: center;
	top: 10%;
}

.month {
	position: absolute;
/*	border: 2px solid black;
 	margin: 5px;
	height: 40px;
	width: 200px;*/
	font-size: 28px;
	display: inline-block;
	bottom: 5%;
	text-align: center;
	left: 5%;
}
.city {
	left: 5%;
}
.country{
	left: 30%;
 }

 .exchange-rate {
	position: absolute;
/*	border: 2px solid black;
	margin: 5px;
	height: 40px;
	width: 200px;*/
	font-size: 14px;
	display: inline-block;
	bottom: 2%;
	text-align: center;
	left: 60%;
}

#icon0, #icon1, #icon2, #icon3 {
	width: 70px;
	height: auto;
	position: absolute;
}

.big-mac-index{
	left: 70.75%;
}

.temperature{
	left: 80%;
}

 .rainfall{
	left: 90%;	
 }

#icon0{
	top: 9%;
	left: 60%;
}
#icon1{
	top: 8%;
	left: 70%;
}

#icon2{
	top: 8%;
	left: 80%
}

#icon3{
	top: 7%;
	left: 90%;
}

.travel-button {
	bottom: 5%;
	width: 250px;
	height: 40px;
	color: white;
	position: absolute;
	color: black;
	font-family: 'Ubuntu', sans-serif;
	left: 30%;
	text-align: center;	
	border: 3px solid #DCDCDC;
	background: white;
	line-height: 36px;
}

.travel-button:hover, .travelbutton:visited, .travelbutton:link {
	color: black;
	text-decoration: none;
}
/*---------------Remove Button styling -----------------*/
label {
	font-family: 'Ubuntu', sans-serif;
	font-style: bold;
	font-size: 18px;
	color: white;
}

.remove-button {
	width: 25px;
	height: 25px;
	color: #777;
	font: 14px/100% arial, sans-serif;
	position: absolute;
	right: 5px;
	text-decoration: none;
	text-shadow: 0 1px 0 #fff;
	top: 5px;
	content: 'X';
}
/*---------------Remove Button styling -----------------*/


/* --------------End of elements inside the Card Div ---------------------------*/



/*---------------Start of styling for the Card Div itself, as well as to make the card grabbable -------------*/
.card-div{
	position: relative;
	color: black;
	font-family: 'Ubuntu', sans-serif;
/*	font-size: 30px;*/
	width: 1100px;
	height: 120px;
	border: 3px solid #DCDCDC;
	border-radius: 8px;
	background-color: #778899;
	margin: 10px;
}
.card-div.over {
	border: 4px dashed #000;
}
.grabbable{
	cursor: move;
	cursor: grab;
    cursor: -moz-grab;
    cursor: -webkit-grab;
}
.grabbable:active{
	cursor: grabbing;
    cursor: -moz-grabbing;
    cursor: -webkit-grabbing;
}
/*---------------------end of styling for Card Div itself -------------------------------*/


/*------------------tooltip popup styling. Still in progress---------------------------*/
/*#icon0{
	top: 9%;
	left: 60%;
}*/

.tooltip {
	top:9%;
	left: 60%;
	width: 70px;
	height: 70px;
	position: absolute;
	display: inline-block;
}

.tooltip .tooltiptext {
    visibility: hidden;
    width: 120px;
    background-color: #555;
    color: #fff;
    text-align: center;
    border-radius: 6px;
    padding: 5px 0;
    position: absolute;
    z-index: 1;
    bottom: 125%;
    left: 50%;
    margin-left: -60px;
    opacity: 0;
    transition: opacity 1s;
}

.tooltip .tooltiptext::after {
    content: "";
    position: absolute;
    top: 100%;
    left: 50%;
    margin-left: -5px;
    border-width: 5px;
    border-style: solid;
    border-color: #555 transparent transparent transparent;
}

